@using System.Web.Mvc.Html
@model SchoolManagement.ViewModel.ClassFromViewModel
@{
    if (this.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (this.User.IsInRole("Teacher"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewBag.Title = @Model.Class.ClassInfo.Name;
}

<div class="row">
    <div class="col-md-4">
        <h2>@Model.Class.ClassInfo.Name</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Class Name: @Model.Class.ClassInfo.Name</li>
            <li class="list-group-item list-group-item-info text-success">Section: @Model.Class.Section.Name</li>
            @if (Model.Class.DepartmentId.HasValue)
            {
                <li class="list-group-item list-group-item-warning">Department Name: @Model.Class.Department.Name</li>
            }
        </ul>
        @*@Html.ActionLink("Assign Subject", "Edit", "Customers", new { id = customer.Id }, null)*@
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2></h2>
        @Html.ActionLink("Add Subject", "Index", "ClassSubject", new {id = Model.Class.Id }, null)
    </div>
</div>
<div class="row">
    <h2>Subject List</h2>
    @if (!Model.ClassSubject.Any())
    {
        <p>We don't have any subject yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var classes in Model.ClassSubject)
            {
                <tr>
                    <td>@classes.Subject.Name</td>
                    <td>@Html.ActionLink("Delete", "New", "Class", null, new {@class = ""})</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<div class="row">
    <h2>Student List</h2>
    @if (!Model.StudentClasses.Any())
    {
        <p>We Dont Have Any Student Yet</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Nick Name</th>
                <th>Phone No</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var classes in Model.StudentClasses)
            {
                <tr>
                    <td>@Html.ActionLink(classes.Student.FirstName, "Subject", "StudentClass", new {id = classes.StudentId, classId = classes.ClassId}, null)</td>
                    <td>@classes.Student.LastName</td>
                    <td>@classes.Student.NickName</td>
                    <td>@classes.Student.PhoneNo</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@Html.ActionLink("go back to class list", "Index", "Class", null, new {@class = "btn btn-default" })


